/* CSS Document */
html {overflow-x:hidden;background:url(../images/bg.jpg) center top no-repeat}
body{ margin:0; padding:0; }
a{ color:#000000; text-decoration:none; font-size:12px; padding:0; margin:0}

ul{ margin:0; padding:0;list-style:none}
li{ margin:0; padding:0;vertical-align:bottom;}
.left{ float:left}
.right{ float:right}

img{ border:none; margin:0; padding:0}
p{margin:0; padding:0;}
input,textarea,select,button {outline:none;}

.header{ width:1060px; height:131px; margin:0 auto; position:relative; z-index:999}

.top{ width:1060px; height:87px;}

.logo{ display:block; width:333px; height:70px; margin-top:10px;}
.logo2{width: 520px;height: 65px;margin: 0 0 0 250px;}
.logo3{font-size:10px; z-index:10; position:relative; top:-25px; left:22px;}

.tel_ban{ width:286px; height:35px; margin-top:-50px}

.ban{ width:104px; height:23px; float:right; margin:-100px 0 0 0 0}
.ch{ display:block; width:44px; height:23px; float:left}

.en{ display:block; width:60px; height:23px; float:left}
.yonghu{ font-size:10px; color:#007DC9;position:relative;margin:0 0 0 0;  left no-repeat; padding-left:60px}

.tel{ width:286px; height:23px; margin-top:4px; float:left}



.navbar{ width:1060px; background:url(../images/navbar_bg.png)}
.navbar ul{}
.navbar ul li{ float:left; width:151px; background:url(../images/navx.jpg) left center no-repeat; text-align:center;  height:40px; line-height:40px}
.navbar ul li a{ display:block; width:151px;height:40px; background:url(../images/navli1.jpg); font-size:18px; font-family:Microsoft YaHei; color:#FFF}
.navbar ul li a:hover{ background:url(../images/navli2.jpg)}
.navsy{ width:153px!important;}
.navsy a{ width:153px!important; background:url(../images/navli1_1.jpg)!important;}
.navsy a:hover{background:url(../images/navli2.jpg)!important;}
.navmy{ width:152px!important;}
.navmy a{ width:152px!important; background:url(../images/navli1_2.jpg)!important;}
.navmy a:hover{background:url(../images/navli2.jpg)!important;}



.banner{ width:1060px; height:320px; position:relative;  margin:-4px auto 0 auto; border-bottom:5px solid #007FCA}


div#new_djs{ width:310px; height: 120px; position: absolute; 
	top: 200px; z-index: 10;background-image: url("../images/TimeDown-wall.png");}
.date{font-size:10px; font-weight:bold; font-family:Microsoft YaHei; color:#999999; display:block; margin:10px auto 0 auto; text-align:center}
.zhm{font-size:14px; font-family:SimSun; color:white; display:block; margin:0 auto; text-align:center; margin-top:5px}
.time{font-size:10px; font-family:Microsoft YaHei; color:#ffffff; margin:0 auto; text-align:center; margin-top:0px; height:26px; /* background:url(../images/time_bg.jpg) */}
.zhxq{ width:100%; height:20px; margin:0 auto 0 auto}
.zhsj{font-size:10px; font-family:Microsoft YaHei; color:#ffffff; display:block; margin:0 ; text-align:center; /* background:url(../images/zhjs.jpg) left no-repeat; */}
.zhdd{font-size:10px; font-family:Microsoft YaHei; color:#ffffff; display:block; margin:0 ; text-align:center; /* background:url(../images/zhdd.jpg) left no-repeat; */}

#QRCode{
	height: 300px;width: 95px;position: relative;float: right;right: -140px;background-color: #F3F7FA;
}
#QRCode_weixin{
	height: 300px;width: 95px;position: relative;float: left;left:-142px;background-color: #F3F7FA;
}

.QR{align:center}



.djsnb{ font-size:45px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#ffa800; float:left; position:relative}
.djsnb_fb{ position:absolute; top:-2px; left:-2px; color:#ff7200; font-weight:bold}

.time_left{ margin:25px 5px 0 5px}


.news{ width:900px; height:757px; margin:0 0 0 400px}
.zhdt{ width:520px; height:278px; margin-top:31px}

.zhdtbt{ width:250px; height:30px; line-height:38px;font-size:20px; font-family:Microsoft YaHei; color:#2e93d0; border-bottom:1px solid #DDDDDD; background:url(../images/zhdtbt_bg.jpg) left no-repeat; padding-left:22px;position:relative;top:-13px;}
.zhdtnb{ width:250px; height:241px;}
.dtimg{ display:block; width:200px; height:152px; margin-top:22px}
.dtimg2{ display:block; width:163px; height:80px;position: relative;left: 150px;}

.dtwz{ width:270px; height:218px;margin-top:22px; margin:-210px 0 0 255px}
.wzbt{ display:block; width:260px; height:20px; line-height:20px;font-size:15px; font-family:Microsoft YaHei; color:#3b3b3b; margin-top:73px;margin-left:20px;}
.wznr{ display:block; width:260px; height:60px; line-height:20px; color:#999999; font-size:13px; margin-top:26px; margin-left:20px;}
.wznr:hover{ color:#09C}
.dtwz ul{width:260px; margin-top:15px}
.dtwz ul li{font-size:12px; color:#999999; height:30px; background:url(../images/dian.jpg) left no-repeat; padding-left:10px; margin-top:10px}
.dtwz ul li a{ font-size:12px; color:#999999}
.dtwz ul li a:hover{color:#09C}
.dtwz2 {width: 520px;height: 20px;border: solid 0px;font-size: 12px;color: #999999;padding-left: 10px;}
.dtwz2 ul li a{ font-size:12px; color:#999999}


.tzgg{ width:280px; height:278px; margin:-280px 0 0 570px }
.tzggbt{width:150px; height:30px; line-height:38px;font-size:20px; font-family:Microsoft YaHei; color:#2e93d0; border-bottom:1px solid #DDDDDD; background:url(../images/tzggbt_bg.jpg) left no-repeat; padding-left:28px;position:relative;top:-8px;}
.tzggnb{ width:250px; height:241px;margin-left: -7px;}
.gg_date{font-size:12px; color:#999999; position: relative;left: 105px;}

.tzggnb ul{}
.tzggnb ul li{}
.tzggnb ul li a{ font-size:12px; color:#686868}
.tzggnb ul li a:hover{color:#09C}

.hylt{ width:520px; height:158px; margin-top:31px}
.hyltbt{width:150px; height:36px; line-height:38px;font-size:20px; font-family:Microsoft YaHei; color:#2e93d0;  border-bottom:1px solid #DDDDDD; background:url(../images/hylt_bg.jpg) left no-repeat; padding-left:28px}
/* 调整行业资讯的宽度，如果嫌日期太靠右 */
.hyltnb{ width:510px; height:0px}

/* .hyltnb ul{} */
.hyltnb ul li{line-height:32px; background:url(../images/narrow.png) 3px 15px no-repeat;}
.hyltnb ul li a{padding-left:15px; font-size:13px; color:#686868}
.hyltnb ul li a:hover{color:#09C}

.zbdwbt{width:150px; height:36px; line-height:38px;font-size:20px; font-family:Microsoft YaHei; color:#2e93d0;  border-bottom:1px solid #DDDDDD; background:url(../images/zhuban.jpg) left no-repeat; padding-left:28px}
.xbdwbt{width:150px; height:36px; line-height:38px;font-size:20px; font-family:Microsoft YaHei; color:#2e93d0;  border-bottom:1px solid #DDDDDD; background:url(../images/xieban.jpg) left no-repeat; padding-left:28px}

.button2{ width:200px; height:500px; margin:30px 0 0 0}

.leftbutton{width:300px; }
.leftbuttonbt{width:150px; height:26px; line-height:28px;font-size:20px; font-family:Microsoft YaHei; color:#2e93d0;  border-bottom:1px solid #DDDDDD; background:url(../images/rukou.jpg) left no-repeat; position: relative;left: 150px;text-indent: 26px;top:20px;}

.app_login{ width:250px; height:169px; position: relative;left: 105px;top: 31px;}
.app{ width:250px; height:169px; background:url(../images/app_bg.jpg)}


.review{width:200px; height:50px;position: relative;margin-top:20px;}
.reviewbt{width:200px; height:36px; line-height:38px;font-size:20px; font-family:Microsoft YaHei; color:#2e93d0;  border-bottom:1px solid #DDDDDD; background:url(../images/review_bg.jpg) left no-repeat; padding-left:28px;position: relative;top: -201px;}
.reviewimg{ width:250px; position: relative;margin-top: -200px;}
.reviewimg2{ width:250px; position: relative;margin-top:-200px;margin-left: 280px;}



.login{ width:245px; height:166px; background:url(../images/login_bg.jpg)}
.button{ width:248px; height:25px; margin:13px auto 0 auto}

.dw{ width:1132px; height:118px; margin:28px auto 0 auto; padding-top:30px}
.zbdw{ font-size:12px; color:#707070}
.zbdw a{  font-size:12px; color:#707070}
.cbdw{font-size:12px; color:#707070; margin-top:15px}
.cbdw a{  font-size:12px; color:#707070}
.xbdw{font-size:12px; color:#707070; margin-top:15px }
.xbdw a{  font-size:12px; color:#707070}

.more{ display:block; font-size:12px; color:#2e93d0; width:66px; height:20px; margin:14px 0 0 56px}

.login_en{ width:309px; height:169px; background:url(../images/login_en_bg.jpg)}



.footer{ width:100%; height:84px; background:#565656; padding-top:1px }
.footer1{ width:1130px; height:33px; margin:13px auto 0 auto; border-bottom:1px solid #676767; color:#9B9B9B; font-size:12px; line-height:33px}
.footer1 a{ font-size:12px; color:#9B9B9B}
.footer1 a:hover{ color:#000}

.footer2{ width:1130px; height:28px; margin:0 auto; line-height:28px; font-size:12px; color:#9B9B9B}

.hzfb { width:1060px; position: relative;left: 150px; overflow:hidden; zoom:1; top:-50px;}
.zlhb_top{width:280px; height:36px; line-height:38px;font-size:20px; font-family:Microsoft YaHei; color:#2e93d0;  border-bottom:1px solid #DDDDDD; background:url(../images/hzmt_bg.jpg) left no-repeat; padding-left:28px;}
.zlhb_bot { width:205px; padding-left:1px; height:38px; padding-bottom:16px; }
.zlhb_bot td { padding-right:15px; line-height:38px; }

.yqljbt{width:200px; height:36px; line-height:38px;font-size:20px; font-family:Microsoft YaHei; color:#2e93d0;  border-bottom:1px solid #DDDDDD; background:url(../images/yqljbt_bg.jpg) left no-repeat; padding-left:28px;}

#flash{
	width: 235px;height: 210px;border: solid 1px;position: relative;left:111px;
	
}
