/* CSS Document */
html {overflow-x:hidden;background:url(../images/bg.jpg) center top no-repeat}
body{ margin:0; padding:0; }
a{ color:#000000; text-decoration:none; font-size:12px; padding:0; margin:0}

ul{ margin:0; padding:0;list-style:none}
li{ margin:0; padding:0;vertical-align:bottom;}
.left{ float:left}
.right{ float:right}

img{ border:none; margin:0; padding:0}
p{margin:0; padding:0;}
input,textarea,select,button {outline:none;}

.header{ width:1060px; height:131px; margin:0 auto; position:relative; z-index:999}

.top{ width:1060px; height:87px;}

.logo{ display:block; width:333px; height:43px; margin-top:25px;}

.tel_ban{ width:286px; height:43px; margin-top:28px}
.tel_ban{ width:286px; height:50px; margin-top:24px}
.ban{ width:104px; height:23px; float:right; margin:0 0 0 0}
.ch{ display:block; width:44px; height:23px; float:left}

.en{ display:block; width:60px; height:23px; float:left}
.yonghu{ font-size:10px; color:#007DC9;margin:0 0 0 0;  left no-repeat; padding-left:60px}

.tel{ width:286px; height:23px; margin-top:4px; float:left}



.navbar{ width:1060px; height:44px; background:url(../images/navbar_bg.png)}
.navbar ul{}
.navbar ul li{ float:left; width:151px; background:url(../images/navx.jpg) left center no-repeat; text-align:center;  height:40px; line-height:40px}
.navbar ul li a{ display:block; width:151px;height:40px; background:url(../images/navli1.jpg); font-size:15px; font-family:Microsoft YaHei; color:#FFF}
.navbar ul li a:hover{ background:url(../images/navli2.jpg)}
.navsy{ width:153px!important;}
.navsy a{ width:153px!important; background:url(../images/navli1_1.jpg)!important;}
.navsy a:hover{background:url(../images/navli2.jpg)!important;}
.navmy{ width:152px!important;}
.navmy a{ width:152px!important; background:url(../images/navli1_2.jpg)!important;}
.navmy a:hover{background:url(../images/navli2.jpg)!important;}



.banner{ width:1060px; height:320px; position:relative;  margin:-4px auto 0 auto; border-bottom:5px solid #007FCA}


.djs{ width:1060px; height:209px; margin:0 auto; padding-top:1px}
.date{font-size:14px; font-weight:bold; font-family:Microsoft YaHei; color:#6c6c6c; display:block; margin:26px auto 0 auto; text-align:center}
.zhm{font-size:16px; font-family:Microsoft YaHei; color:#6c6c6c; display:block; margin:0 auto; text-align:center; margin-top:5px}
.time{font-size:14px; font-family:Microsoft YaHei; color:#6c6c6c; margin:0 auto; text-align:center; margin-top:15px; height:53px; background:url(../images/time_bg.jpg)}
.zhxq{ width:710px; height:20px; margin:18px auto 0 auto}
.zhsj{font-size:14px; font-family:Microsoft YaHei; color:#5E5E5E; display:block; margin:0 auto; text-align:center; background:url(../images/zhjs.jpg) left no-repeat; padding-left:25px}
.zhdd{font-size:14px; font-family:Microsoft YaHei; color:#5E5E5E; display:block; margin:0 auto; text-align:center; background:url(../images/zhdd.jpg) left no-repeat;padding-left:25px}

.djsnb{ font-size:45px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#ffa800; float:left; position:relative}
.djsnb_fb{ position:absolute; top:-2px; left:-2px; color:#ff7200; font-weight:bold}

.time_left{ margin:25px 5px 0 5px}


.news{ width:1060px; height:347px; margin:0 auto}
.zhdt{ width:704px; height:278px; margin-top:31px}
.zhdtbt{ width:682px; height:36px; line-height:38px;font-size:20px; font-family:Microsoft YaHei; color:#2e93d0; border-bottom:1px solid #DDDDDD; background:url(../images/zhdtbt_bg.jpg) left no-repeat; padding-left:22px}
.zhdtnb{ width:704px; height:241px;}
.dtimg{ display:block; width:273px; height:210px; margin-top:22px}
.dtwz{ width:415px; height:218px;margin-top:22px; margin-left:10px}
.wzbt{ display:block; width:415px; height:20px; line-height:20px;font-size:18px; font-family:Microsoft YaHei; color:#3b3b3b}
.wznr{ display:block; width:415px; height:60px; line-height:20px; color:#757575; font-size:13px; margin-top:13px}
.wznr:hover{ color:#09C}
.dtwz ul{width:415px; margin-top:15px}
.dtwz ul li{font-size:12px; color:#999999; height:18px; background:url(../images/dian.jpg) left no-repeat; padding-left:10px; margin-top:10px}
.dtwz ul li a{ font-size:12px; color:#999999}
.dtwz ul li a:hover{color:#09C}


.tzgg{ width:308px; height:278px; margin-top:31px}
.tzggbt{width:280px; height:36px; line-height:38px;font-size:20px; font-family:Microsoft YaHei; color:#2e93d0; border-bottom:1px solid #DDDDDD; background:url(../images/tzggbt_bg.jpg) left no-repeat; padding-left:28px}
.tzggnb{ width:308px; height:241px}
.gg_date{ display:block;font-size:12px; font-family:Microsoft YaHei; color:#727272; margin-bottom:4px; margin-top:23px}

.tzggnb ul{}
.tzggnb ul li{}
.tzggnb ul li a{ font-size:14px; color:#686868}
.tzggnb ul li a:hover{color:#09C}

.app_login{ width:1060px; height:169px; margin:0 auto}
.app{ width:708px; height:169px; background:url(../images/app_bg.jpg)}

.app_left{ width:340px; height:147px; margin:13px 0 0 31px;}
.appimg{ width:111px; height:147px;}
.appwz{ width:212px; height:53px; margin:52px 0 0 0}


.appwz1{ display:block; color:#4d4d4d;font-size:14px; font-family:Microsoft YaHei;}
.chakan{ display:block; width:64px; height:12px; font-size:12px; color:#2897cb; margin-top:10px}

.app_right{width:300px; height:107px; margin:33px 0 0 26px;}
.appimg2{ width:109px; height:107px}
.appwz_2{width:188px; height:53px; margin:30px 0 0 0}


.login{ width:309px; height:169px; background:url(../images/login_bg.jpg)}
.button{ width:268px; height:25px; margin:13px auto 0 auto}

.dw{ width:1132px; height:118px; margin:28px auto 0 auto; padding-top:30px}
.zbdw{ font-size:12px; color:#707070}
.zbdw a{  font-size:12px; color:#707070}
.cbdw{font-size:12px; color:#707070; margin-top:15px}
.cbdw a{  font-size:12px; color:#707070}
.xbdw{font-size:12px; color:#707070; margin-top:15px }
.xbdw a{  font-size:12px; color:#707070}

.more{ display:block; font-size:12px; color:#2e93d0; width:66px; height:20px; margin:14px 0 0 56px}





.footer{ width:100%; height:84px; background:#565656; padding-top:1px }
.footer1{ width:1130px; height:33px; margin:13px auto 0 auto; border-bottom:1px solid #676767; color:#9B9B9B; font-size:12px; line-height:33px}
.footer1 a{ font-size:12px; color:#9B9B9B}
.footer1 a:hover{ color:#000}

.footer2{ width:1130px; height:28px; margin:0 auto; line-height:28px; font-size:12px; color:#9B9B9B}
