<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/beans.xml</param-value>
  </context-param>
  <session-config>
  <session-timeout>60</session-timeout>
 </session-config>
  <servlet>
    <servlet-name>dwr</servlet-name>
    <servlet-class> org.directwebremoting.servlet.DwrServlet </servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>scriptCompressed</param-name>
      <param-value> 
       			true
			</param-value>
    </init-param>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>imageUpload</servlet-name>
    <servlet-class>com.novahome.servlet.ImageUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageUpload</servlet-name>
    <url-pattern>/imageUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ckeImageUpload</servlet-name>
    <servlet-class>com.novahome.servlet.ckeImageUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ckeImageUpload</servlet-name>
    <url-pattern>/ckeImageUpload</url-pattern>
  </servlet-mapping>
  
   
  <!-- 下载现场人员证件信息的servlet -->
  <servlet>
    <servlet-name>downExcelServlet</servlet-name>
    <servlet-class>com.novahome.servlet.DownExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downExcelServlet</servlet-name>
    <url-pattern>/downExcelServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 英文版的Mapping -->
  <servlet-mapping>
    <servlet-name>imageUpload</servlet-name>
    <url-pattern>/eng/imageUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ckeImageUpload</servlet-name>
    <url-pattern>/eng/ckeImageUpload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>testVolley</servlet-name>
    <servlet-class>com.novahome.servlet.phone.TestVolleyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testVolley</servlet-name>
    <url-pattern>/phone/testVolley/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>zlzy</servlet-name>
    <servlet-class>com.novahome.servlet.phone.ZlzyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zlzy</servlet-name>
    <url-pattern>/phone/zlzy/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>zytz</servlet-name>
    <servlet-class>com.novahome.servlet.phone.ZytzServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zytz</servlet-name>
    <url-pattern>/phone/zytz/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>audience</servlet-name>
    <servlet-class>com.novahome.servlet.phone.AudienceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>audience</servlet-name>
    <url-pattern>/phone/audience/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>exhibitor</servlet-name>
    <servlet-class>com.novahome.servlet.phone.ExhibitorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exhibitor</servlet-name>
    <url-pattern>/phone/exhibitor/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>displayitem</servlet-name>
    <servlet-class>com.novahome.servlet.phone.DisplayItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayitem</servlet-name>
    <url-pattern>/phone/displayitem/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>visitor</servlet-name>
    <servlet-class>com.novahome.servlet.phone.VisitorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>visitor</servlet-name>
    <url-pattern>/phone/visitor/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>event</servlet-name>
    <servlet-class>com.novahome.servlet.phone.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>event</servlet-name>
    <url-pattern>/phone/event/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>phoneimage</servlet-name>
    <servlet-class>com.novahome.servlet.phone.PhoneImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phoneimage</servlet-name>
    <url-pattern>/phone/phoneimage</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class> org.springframework.web.context.ContextLoaderListener </listener-class>
  </listener>
</web-app>